.axisBottom{
    display: block;
    /* @media screen and (min-width: 480px) {
        .axisBottom {
          display: none;
        }
      } */
}
@media (max-width: 768px) {
    .axisBottom {
      display: none;
    }
  }

  
  
  
  
  
  